.searchbox {
   margin-top: 12px;
   height: 100px;
    .searchbox__textbox {
        background: $beige;
        width: 100%;
        border: 0;
    }

    .searchbox__textbox:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }
}

.searchbox--slidein {
    .searchbox__textbox {
        animation-name: slidein;
        animation-duration: 1s;
        width: 100%;
    }
}

.searchbox--slideout {
    .searchbox__textbox {
        animation-name: slideout;
        animation-duration: 1s;
        width: 0%;
    }
}