.video {
    width: 100%;
    position: relative;
    height: 180px;
    @include breakpoint($screen-xl) {
        height: 308px;
    }
    .video__thumbnail {
        @include position(absolute, 0);
        width: 95%;
        @include breakpoint($screen-sm) {
            width: 52%;
        }
        @include breakpoint($screen-md) {
            width: 100%;
        }
    }
    .video__title {
        position: absolute;
        @include position(absolute, (inherit, inherit, 16px, 10px));
        z-index: 2;
        background: $beige;
        width: 86%;
        @include breakpoint($screen-sm) {
            width: 48%;
        }
        @include breakpoint($screen-md) {
            width: 90%;
        }
        
    }
}