.video {
    width: 100%;
    position: relative;
    height: 180px;
    .video__thumbnail {
        @include position(absolute, 0);
        width: 95%;
        @include breakpoint($screen-sm) {
            width: 52%;
            margin: 0 auto;
        }
    }
    .video__title {
        position: absolute;
        @include position(absolute, (inherit, inherit, 16px, 10px));
        z-index: 2;
        background: $beige;
        width: 86%;
        @include breakpoint($screen-sm) {
            width: 48%;
            left: 50%;
            transform: translateX(-50%);

        }
        
    }
}